@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap");
@plugin "daisyui";
* {
  font-family: "Poppins", "Quicksand", "Nunito", sans-serif;
}
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, acid;
}
.logo-font {
  font-family: "DynaPuff", system-ui;
  font-weight: 900;
  color: #ff6f61;
}

.shine-btn {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

/* soft white shimmer */
.shine-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -120%;
  width: 60%;
  height: 100%;
  background: linear-gradient(
    110deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.35) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: skewX(-20deg);
  animation: softShine 2s infinite linear;
  opacity: 0.7;
}

@keyframes softShine {
  0% {
    left: -120%;
  }
  100% {
    left: 140%;
  }
}
